{{ 'EMAIL_HELLO' | trans({'%userName%': user.username}) }}<br />

{% if extraEdges > 1 %}
    {{ 'EMAIL_EDGES_PUBLISHED_WITH_CREATOR_INTRO' | trans({'%edgeNumber%': extraEdges}) }}
{% else %}
    {{ 'EMAIL_EDGE_PUBLISHED_WITH_CREATOR_INTRO' | trans }}
{% endif %}
<br />

{% if newMedalLevel %}
<p style="text-align: center">
    <img width="100" src="{{ ASSETS_MEDALS_PICTURES_ROOT }}Createur_{{ newMedalLevel }}_{{ locale }}.png" />
    <br />
    {{ 'EMAIL_EDGES_PUBLISHED_WITH_CREATOR_MEDAL' | trans({'%medalLevel%': ('MEDAL_' ~ newMedalLevel) | trans}) | raw }}
</p>
{% endif %}
<br />
{{ 'EMAIL_EDGES_PUBLISHED_WITH_CREATOR_POINTS' | trans({'%extraCreatorPoints%': extraCreatorPoints}) | raw }}

{{ include('emails/footer.html.twig') }}