{{ 'EMAIL_HELLO' | trans({'%userName%': user.username}) }}<br />
{{ 'EMAIL_RESET_PASSWORD_BODY' | trans({'%email%': user.email}) | raw }}<br />

<a href="{{ WEBSITE_ROOT }}/?action=reset_password&token={{ token }}">
    {{ 'EMAIL_RESET_PASSWORD_LINK_TEXT' | trans }}
</a>
<br />
<br />
<br />
{{ 'EMAIL_SIGNATURE' | trans | raw }}<br />
<img width="400" src="{{ WEBSITE_ROOT }}/logo_petit.png" />